*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-bg-color: hsl(0, 0%, 95%);
  --font-base: 16px;
}

html {
  font-size: var(--font-base);
}

body {
  font-family: system-ui;
}

body,
p {
  margin: 0;
}

.main {
  width: min(95%, 60rem);
  margin: 6rem auto;
  padding: 2rem 3rem;
  background-color: var(--main-bg-color);
  @media (max-width: calc(48rem - 1px)) {
    padding: 1.5rem;
  }
}

label {
  display: none;
}

input {
  width: 100%;
  height: 2rem;
  border-width: 1px;
  border-color: transparent;
  border-radius: 6px;
  font-size: inherit;
}

input:not(:last-child) {
  margin-bottom: 2rem;
}

input[disabled] {
  width: fit-content;
  border-color: hsl(0, 100%, 0%);
}

label:has(input[disabled]) {
  display: inline-block;
  margin-bottom: 2rem;
}

/* Atención con la cascada. Si se mueve hacia arriba 'input type number' y se coloca antes de 'input not disabled' el estilo que se aplica es el de 'input not disabled'*/

input:not([disabled]) {
  background-color: hsl(60, 89%, 65%);
}

input[type="number"] {
  background-color: hsl(200, 58%, 90%);
}

p {
  font-weight: 900;
}

p[class="selector"] {
  color: hsl(120, 100%, 20%);
}

p[class~="selector"] {
  color: hsl(240, 100%, 50%);
}

/* p[class~="lorem"] {
    color: hsl(0, 100%, 50%);
} */

p[class~="ipsum"] {
  color: hsl(25, 100%, 50%);
}
